{% load static %}
<link rel=icon href="{% static 'favicon.ico' %}"> <title>map_client</title>
    <link href="{% static 'css/app.d2700119.css' %}" rel=preload as=style>
    <link href="{% static 'css/chunk-vendors.2c7f3eba.css' %}" rel=preload as=style>
    <link href="{% static 'js/app.4209b086.js' %}" rel=preload as=script>
    <link href="{% static 'js/chunk-vendors.1021dd8b.js' %}" rel=preload as=script>
    <link href="{% static 'css/chunk-vendors.2c7f3eba.css' %}"  rel=stylesheet>
    <link href="{% static 'css/app.d2700119.css' %}"  rel=stylesheet>
    <div id=app></div>
    <script src="{% static 'js/chunk-vendors.1021dd8b.js' %}"> </script> 
    <script src="{% static 'js/app.4209b086.js' %}"> </script> 
</body> 
</html>